In [1]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('data/ucADM.csv', encoding='utf-16', delimiter='\t')
df = df.rename(columns={'Unnamed: 0': 'Race', 'Unnamed: 1': 'Type'})
df['Type'] = df['Type'].replace({'adm redacted calc along Characteristics FR': 'number', 'adm redacted percent calc along Characteristics FR': 'percent'})
df

,Race,Type,1994,1995,1996,1997,1998,1999,2000,2001,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,African American,number,"1,699","1,776","1,687","1,633","1,427","1,512","1,619","1,820",...,"3,349","3,369","4,358","4,352","4,444","4,406","5,170","6,839","6,399","6,559"
1,African American,percent,4%,4%,4%,4%,3%,3%,3%,3%,...,4%,4%,4%,4%,4%,4%,4%,5%,5%,5%
2,American Indian,number,337,423,383,334,340,312,308,347,...,561,529,544,561,507,439,476,560,687,766
3,American Indian,percent,1%,1%,1%,1%,1%,1%,1%,1%,...,1%,1%,1%,1%,0%,0%,0%,0%,1%,1%
4,Asian,number,"12,622","12,642","13,587","14,412","14,473","15,913","16,555","17,863",...,"27,410","27,722","30,248","30,302","32,138","32,567","36,034","38,738","39,264","40,719"
5,Asian,percent,32%,30%,31%,32%,31%,32%,32%,31%,...,31%,30%,29%,29%,30%,30%,30%,29%,31%,31%
6,Hispanic/Latino(a),number,"5,835","6,237","5,886","5,877","5,655","6,018","6,561","7,708",...,"19,246","19,340","24,377","24,414","25,078","26,247","30,468","34,279","34,121","36,381"
7,Hispanic/Latino(a),percent,15%,15%,14%,13%,12%,12%,13%,14%,...,22%,21%,23%,23%,23%,24%,26%,26%,27%,28%
8,Pacific Islander,number,147,164,149,147,150,202,214,208,...,230,254,237,257,265,259,265,341,296,321
9,Pacific Islander,percent,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
10,White,number,"16,232","17,187","17,999","19,067","17,293","20,555","20,783","22,516",...,"22,442","22,134","25,073","23,941","22,874","22,469","23,503","27,682","24,079","25,578"
11,White,percent,41%,41%,42%,43%,36%,41%,40%,40%,...,25%,24%,24%,23%,21%,21%,20%,21%,19%,20%
12,Unknown,number,"2,229","2,576","3,061","2,472","7,450","4,492","4,892","5,327",...,"2,433","2,754","3,071","2,928","3,232","2,877","3,581","3,427","3,161","3,425"
13,Unknown,percent,6%,6%,7%,6%,16%,9%,9%,9%,...,3%,3%,3%,3%,3%,3%,3%,3%,3%,3%
14,International,number,508,720,549,798,639,762,874,"1,081",...,"13,514","15,277","17,169","18,067","18,901","18,404","18,745","19,796","17,226","17,418"
15,International,percent,1%,2%,1%,2%,1%,2%,2%,2%,...,15%,17%,16%,17%,18%,17%,16%,15%,14%,13%

In [52]:
df_new = df.T
print(df_new.columns.to_list())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [53]:
df_new = df_new.drop(columns=[0, 2, 4, 6, 8, 10, 12, 14])

In [54]:
df_new = df_new.rename(columns={1: 'AfricanAmerican', 3: 'AmericanIndian', 5: 'Asian', 7: 'Hispanic/Latino(a)', 9: 'PacificIslander', 11: 'White',
                       13: 'Unknown', 15: 'International'})
df_final = df_new.iloc[2::]
df_final = df_final.replace(to_replace='%', value='', regex=True).astype(int)

In [55]:
df_final

,AfricanAmerican,AmericanIndian,Asian,Hispanic/Latino(a),PacificIslander,White,Unknown,International
1994,4,1,32,15,0,41,6,1
1995,4,1,30,15,0,41,6,2
1996,4,1,31,14,0,42,7,1
1997,4,1,32,13,0,43,6,2
1998,3,1,31,12,0,36,16,1
1999,3,1,32,12,0,41,9,2
2000,3,1,32,13,0,40,9,2
2001,3,1,31,14,0,40,9,2
2002,3,1,32,14,0,40,8,1
2003,4,1,31,15,0,39,10,2
2004,3,1,32,15,0,38,9,2
2005,3,1,32,16,0,39,7,2
2006,4,1,34,17,0,36,7,2
2007,4,1,33,18,0,36,6,2
2008,4,1,31,19,0,35,6,3
2009,4,1,32,20,0,34,5,3
2010,4,1,32,21,0,32,5,5
2011,4,1,33,22,0,30,2,7
2012,4,1,32,22,0,28,3,10
2013,4,1,31,21,0,27,3,13
2014,4,1,31,22,0,25,3,15
2015,4,1,30,21,0,24,3,17
2016,4,1,29,23,0,24,3,16
2017,4,1,29,23,0,23,3,17
2018,4,0,30,23,0,21,3,18
2019,4,0,30,24,0,21,3,17
2020,4,0,30,26,0,20,3,16
2021,5,0,29,26,0,21,3,15
2022,5,1,31,27,0,19,3,14
2023,5,1,31,28,0,20,3,13

In [56]:
df_final.to_csv('data/ucDemoData.csv')